$suffix-layout: "-layout";

$font-size-primary: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-btn: 18px;
$font-size-title: 26px;

$color-primary: #3caaff;
$color-font-light: #fff;
$color-background-main: #f3f3f4;
$color-background-menu: #2f4050;
$color-background-title: #1d262e;
$color-font-base: #000;

$margin-base: 20px;
$margin-small: 10px;

$padding-base: 20px;
$padding-small: 10px;

$border-base: 1px solid #ddd;

$text-align-right: right;
